<h3 class="highlight-text">更新日志</h3>
<p class="fine-print"><i>简体中文</i></p>
<br>
<a href="https://github.com/chr56/Phonograph_Plus">开源地址(GitHub)</a>

<!-- <<<PREVIEW>>> -->
<!-- <<</PREVIEW>>> -->
<!-- <<<LATEST/>>> -->
<h4><b>1.9.3</b> 2025.03.08</h4>
<div>
    <ol>
        <li>修复 小部件上的文本不更新 (v1.9.2 起存在)</li>
        <li>修复 更改项目显示设置特别是艺术家页面上时出现一些异常行为</li>
        <li>修复 快速滚动时可能存在的图片加载错乱</li>
        <li>改进 专辑和艺术家的图片加载速度</li>
        <li>改进 支持服务退出后仍然可以修改当前播放队列</li>
        <li>改进 音乐标签编辑的稳定性和可用性</li>
        <li>新增 专辑、艺术家、流派和文件夹的弹出菜单</li>
        <li>翻译 更新 波兰语 (cooky), 巴西葡萄牙语 (FalaTudo)</li>
        <li>开发 清理代码, 更新依赖, 更新 AGP 至 8.8.2</li>
    </ol>
</div>

<h4><b>1.9.2</b> 2025.02.16</h4>
<div>
    <ol>
        <li>修复 服务退出后无法显示任何图像 (自 v1.9.1 起)</li>
        <li>修复 夜间模式下部分对话框中文本颜色问题</li>
        <li>新增 支持清理收藏夹和播放队列中丢失或删除的歌曲</li>
        <li>改进 显示收藏夹中丢失或删除歌曲的路径而不是完全空白</li>
        <li>开发 更新依赖, 升级 Gradle 至 8.12.1</li>
    </ol>
</div>

<h4><b>1.9.1</b> 2025.02.09</h4>
<div>
    <ol>
        <li>修复 后台随机崩溃</li>
        <li>修复 部分设备上重启后崩溃</li>
        <li>修复 部分设备上从后台切换回来后崩溃</li>
        <li>修复 时间戳相同的多行 lrc 歌词将被最后一行覆盖</li>
        <li>修复 当前播放的歌曲发生改变且无歌词时，歌词对话框崩溃</li>
        <li>修复 排序导致的文件页部分文件不显示</li>
        <li>改进 文件页加载速度</li>
        <li>翻译 更新 法语 (Vividly8487), 葡萄牙语 (azilara)</li>
        <li>开发 更新依赖, 清理代码</li>
    </ol>
</div>

<h4><b>1.9.0</b> 2025.01.15</h4>
<div>
    <ol>
        <li>开发 targetSdk 35 (Android 15)</li>
        <li>修复 某些情况下拖动列表项目时可能导致崩溃</li>
        <li>修复 拖动播放列表项目却不在编辑模式下</li>
        <li>修复 从多选进入标签编辑器但所选内容不含任何歌曲时崩溃</li>
        <li>修复 播放队列清空后, 从某些通知或蓝牙设备切换曲目时崩溃</li>
        <li>修复 部分设备上最常听的歌曲和最近播放播放列表乱序</li>
        <li>修复 文件夹页缺失自动刷新</li>
        <li>新增 关于中显示当前变体版本</li>
        <li>新增 更新对话框中标出当前变体版本和通道</li>
        <li>改进 搜索界面中显示底部播放器</li>
        <li>改进 版本迁移用户界面</li>
        <li>改进 启用新的系统返回手势动画 (Android T 及以上)</li>
        <li>改进 边到边界面</li>
        <li>删除 设置项“着色导航栏” (已无意义)</li>
        <li>修改 默认着色导航栏</li>
        <li>修改 若可行, 透明或半透明导航栏</li>
        <li>修改 默认文件播放列表图标</li>
        <li>修改 禁止从 v1.4.0 之前的版本升级, 警告从 v1.7.0 之前的版本升级</li>
        <li>翻译 更新 波兰语 (cooky), 巴西葡萄牙语 (FalaTudo, Ulisses_Mello), 西班牙语 (Ulisses_Mello)</li>
        <li>开发 更新依赖</li>
    </ol>
</div>

<h4><b>1.8.5.1</b> 2024.11.05</h4>
<div>
    此为修正版本，修复构建的一个小问题
    <ol>
        <li>开发 移除 DependencyInfo</li>
    </ol>
</div>

<h4><b>1.8.5</b> 2024.11.03</h4>
<div>
    <ol>
        <li>修复 播放列表图标</li>
        <li>修复 有时无法进入专辑界面</li>
        <li>修复 从后台启动时可能的崩溃</li>
        <li>修复 读写某些文件的音乐标签时崩溃</li>
        <li>修复 在标签编辑器中处理超长标签时卡死或崩溃</li>
        <li>修复 更改后播放列表有时不会自动更新</li>
        <li>修复 使用 SAF 删除播放列表时选择错误目录将会崩溃</li>
        <li>修复 在搜索结果、专辑详情、艺术家详情、流派详情中，向播放列表增添歌曲时崩溃</li>
        <li>修复 退出多选模式时行为异常</li>
        <li>修复 当邻近文件选项卡时无法正常退出应用程序</li>
        <li>修复 设备重启后应用小部件中的图像不刷新</li>
        <li>修复 直至完全载入前专辑界面图片空白</li>
        <li>修改 Android N 上，不再开机自启服务，倘若存在任何小组件时</li>
        <li>改进 在某些设备上专辑中曲目编号的排序顺序</li>
        <li>改进 创建、复制或操纵播放列表的流程</li>
        <li>改进 lrc格式歌词识别</li>
        <li>翻译 更新 波兰语(cooky), 西班牙语 (Dino RTX (rtxdino36))</li>
        <li>开发 使用 SDK 35 编译</li>
        <li>开发 升级 Gradle 至 8.10.2, 升级 AGP 至 8.7.2, 升级 kotlin 至 2.0.21</li>
        <li>开发 升级 Jetpack Compose 至 1.7.5, 更新依赖</li>
        <li>开发 清理代码</li>
    </ol>
</div>

<h4><b>1.8.4</b> 2024.09.16</h4>
<div>
    <ol>
        <li>修复 在搜索结果、专辑详情、艺术家详情、流派详情中，创建播放列表时崩溃</li>
        <li>新增 主抽屉菜单新增“退出”选项</li>
        <li>改进 在任何情形下，都允许使用媒体通知退出</li>
        <li>改进 播放列表内的搜索功能</li>
        <li>翻译 更新 法语(manafy), 葡萄牙语(azilara), 西班牙语(Ulisses_Mello), 德语(jande75), 巴西葡萄牙语(FalaTudo)</li>
        <li>开发 升级 Kotlin 至 2.0.20, 更新 AGP 至 8.6.0, 更新 Jetpack Compose 至 1.7.1, 更新依赖</li>
        <li>开发 重构播放器</li>
    </ol>
</div>

<h4><b>1.8.3</b> 2024.08.21</h4>
<div>
    <ol>
        <li>修复 媒体通知中的图像闪烁 (自 v1.8.1 起)</li>
        <li>修复 设置界面的微小异常布局</li>
        <li>翻译 更新 法语(manafy)、巴西葡萄牙语(Chacal)、意大利语(Enrico Storelli)</li>
        <li>开发 升级 AGP 至 8.5.2，更新依赖，清理代码</li>
    </ol>
</div>

<h4><b>1.8.2</b> 2024.08.10</h4>
<div>
    🎉 此为 Phonograph Plus 三周年纪念版
    <ol>
        <li>新增 支持指定从外部（如文件管理器）播放时的默认操作</li>
        <li>修复 在某些罕见情况下跳转到艺术家详情时崩溃</li>
        <li>翻译 更新巴西葡萄牙语（FalaTudo）、波兰语（Cooky）</li>
    </ol>
</div>

<h4><b>1.8.1</b> 2024.08.01</h4>
<div>
    <ol>
        <li>移除 旧版歌曲详情</li>
        <li>新增 始终使用 Media Session 显示封面的选项以改进兼容性</li>
        <li>修复 Android Q 上通知图像质量过低</li>
        <li>改进 从外部播放时的对话框</li>
        <li>改进 部分关于更新的文字和说明</li>
        <li>修改 禁止从 v1.0.0 之前升级，警告从 v1.4.0 之前升级</li>
        <li>翻译 更新 波兰语（cooky）、西班牙语（Dragonrojo）</li>
    </ol>
</div>

<h4><b>1.8.0</b> 2024.07.21</h4>
<div>
    <ol>
        <li>注意 现专为Android 10 及以下用户提供特别版本</li>
        <li>修复 从外部（如文件资源管理器）启动时未立即播放</li>
        <li>翻译 更新 西班牙语（Dino RTX），波兰语（cooky）、巴西葡萄牙语（FalaTudo）</li>
        <li>开发 更新 Gradle 至 8.8，更新 AGP 至 8.5.1，更新依赖</li>
    </ol>
</div>

<h4><b>1.7.2.1</b> 2024.06.26</h4>
<div>
    <ol>
        <li>修复 开启"使用旧式歌曲收藏机制"时崩溃</li>
        <li>修复 Android Auto 无法读取播放列表</li>
    </ol>
</div>

<h4><b>1.7.2</b> 2024.06.26</h4>
<div>
    <ol>
        <li>修复 睡眠定时器失效</li>
        <li>修复 重命名播放列表无效</li>
        <li>改进 创建或重命名播放列表的对话框</li>
        <li>翻译 更新 西班牙语 (Dino RTX (rtxdino36))，阿拉伯语 (Ruger Blaze (hima_96))</li>
        <li>开发 更新 AGP 至 8.4.2，清理代码</li>
        <li>开发 为内部存储的播放列表准备</li>
    </ol>
</div>

<h4><b>1.7.1</b> 2024.06.09</h4>
<div>
    <ol>
        <li>修复 专辑页排序失效</li>
        <li>修复 艺术家详情中切换彩色页脚开关时崩溃</li>
        <li>修复 滚动过快时封面错误</li>
        <li>修复 艺术家详情中，从专辑详情返回后，专辑封面丢失</li>
        <li>改进 改进主色调生成以提升性能</li>
        <li>改进 部分列表项目加载速度</li>
        <li>修改 艺术家专辑按年份升序排序</li>
        <li>修改 禁止从 v0.7.0 之前的版本升级至当前版本，清理相关旧版兼容性支持</li>
        <li>开发 更新 AGP 至 8.4.1，清理代码</li>
    </ol>
</div>

<h4><b>1.7.0</b> 2024.05.20</h4>
<div>
    <ol>
        <li>新增 记住文件或文件夹页的上次滚动位置直至重启</li>
        <li>新增 重新设计的文件页，支持顺序或随机播放当前文件夹</li>
        <li>新增 主题和主题颜色可以在备份文件中正确导出</li>
        <li>新增 自动主题支持选择首选夜间主题 (黑色或深色)</li>
        <li>修改 自动主题的夜间主题现在默认为黑色</li>
        <li>修改 使用旧式方式读取文件时，隐藏歌曲数量</li>
        <li>修改 缩小某些界面组件 (特别是在横屏下)</li>
        <li>改进 崩溃后的信息收集 (权限、屏幕密度等)</li>
        <li>修复 横屏下主播放器某些文本颜色可读性</li>
        <li>修复 在卡片播放器且处于横屏时，状态栏未着色</li>
        <li>修复 某些对话框的按钮颜色并非强调色</li>
        <li>修复 可能的动画导致的罕见崩溃</li>
        <li>修复 艺术家详情中专辑排序</li>
        <li>修复 由于文件夹页导致无法立即退出应用</li>
        <li>翻译 更新 西班牙语 (Dino RTX (rtxdino36)), 土耳其语 (volkspolizist)， 波兰语 (cookie), 俄语 (Yurt Page), 巴西葡萄牙语 (FalaTudo)</li>
        <li>开发 清理部分旧版兼容性支持</li>
        <li>开发 清理代码，重构主题相关的内容</li>
        <li>修改 禁止从 v0.6.3 之前的版本升级至当前版本, 警告从 v1.2.0 之前的版本升级至当前版本</li>
    </ol>
</div>

<h4><b>1.6.3</b> 2024.05.12</h4>
<div>
    <ol>
        <li>修复 (仅) Android 13 上，打开部分对话框或播放列表详情时崩溃</li>
        <li>修复 区间选择时会添加重复的项目</li>
        <li>修复 备份导出对话框的标题错误</li>
        <li>翻译 更新 俄语 (Yurt Page)</li>
        <li>翻译 更新 西班牙语 (Dino RTX (rtxdino36))</li>
        <li>翻译 更新 土耳其语 (volkspolizist)</li>
    </ol>
</div>

<h4><b>1.6.2</b> 2024.04.27</h4>
<div>
    <ol>
        <li>修复 罕见随机崩溃 （由主播放器图片而导致）</li>
        <li>修复 微件白屏，若应用未运行（特别是在开机后）</li>
        <li>修改 若应用未运行，则点击微件时启动服务，而不是打开应用</li>
        <li>改进 微件性能</li>
        <li>开发 更新依赖</li>
    </ol>
</div>

<h4><b>1.6.1</b> 2024.04.18</h4>
<div>
    <ol>
        <li>修复 向某播放列表中重复添加相同曲目后崩溃</li>
        <li>修复 删除播放列表中的曲目会删除所有相同歌曲</li>
        <li>修复 在选择多个项目后可能随机崩溃</li>
        <li>修改 改进播放列表详情的菜单项</li>
        <li>改进 使用 SAF 修改播放列表时的，简化用户交互</li>
        <li>改进 加快删除多个播放列表的速度</li>
        <li>翻译 更新波兰语(cooky)</li>
        <li>翻译 更新西班牙语(Dderfla_53)</li>
        <li>开发 更新 AGP 至 8.3.2</li>
    </ol>
</div>

<h4><b>1.6.0</b> 2024.04.11</h4>
<div>
    <ol>
        <li>新增 可自定义媒体通知中的动作（紧凑通知中至多 3 个动作，展开通知中至多 5 个动作）</li>
        <li>新增 ‘始终播放’选项--忽略任何音频焦点中断并继续播放</li>
        <li>新增 ‘查看艺术家’时若有多个艺术家则进行搜索</li>
        <li>新增 支持隐藏列表中的图像</li>
        <li>新增 支持从通知中快进和快退几秒</li>
        <li>新增 支持从通知中退出后台播放</li>
        <li>改进 切换歌曲时，通知媒体图片不必要的闪烁不再发生</li>
        <li>改进 切换歌曲过快时，避免正在播放通知由于刷新速度超过系统速率限制而失去响应</li>
        <li>改进 重新设计 歌曲删除对话框，文件过滤器设置对话框，更新对话框</li>
        <li>改进 微调标签宽度</li>
        <li>修复 复制多个播放列表失败</li>
        <li>修复 导航栏着色选项失效</li>
        <li>修复 关于文本或按钮颜色的小错误</li>
        <li>修复 从后台返回前台后有时播放暂停按钮异常</li>
        <li>修改 通知中(或通过连接的设备)的播放控制行为现与其图形界面版本行为一致</li>
        <li>修改 将自定义艺术家图片从内部存储移至外部存储(/Android/data/)</li>
        <li>修改 允许用户不选择任何图像来源（即禁用所有图像加载）</li>
        <li>修改 禁止从 v0.5.4.1 之前的版本升级至当前版本, 警告从 v1.0.0 之前的版本升级至当前版本</li>
        <li>翻译 更新波兰语(cooky)</li>
    </ol>
</div>

<h4><b>1.5.2</b> 2024.03.07</h4>
<div>
    <ol>
        <li>修复 某些设备上，只要曾强行停止后在播放时崩溃</li>
        <li>翻译 更新德语 (jande75)</li>
        <li>开发 更新依赖，更新依赖，更新 Gradle 至 8.6，优化发版流程</li>
        <li>其他 发布时添加校验和</li>
    </ol>
</div>

<h4><b>1.5.1</b> 2024.02.22</h4>
<div>
    <ol>
        <li>修复 首次安装后立即崩溃</li>
    </ol>
</div>

<h4><b>1.5.0</b> 2024.02.20</h4>
<div>
    <ol>
        <li>新增 为所有页面添加播放和随机播放按钮</li>
        <li>新增 为所有页面添加下拉刷新</li>
        <li>新增 可选的图片缓存</li>
        <li>改进 加快启动</li>
        <li>改进 介绍页中备份导入成功后不再次显示介绍页</li>
        <li>修复 切换随机播放模式后主色调意外改变</li>
        <li>修复 主播放器的关闭按钮将直接关闭应用程序</li>
        <li>修复 不正确 opus 格式的编码信息</li>
        <li>修复 文件夹页中显示横幅文本异常</li>
        <li>修复 流派页和播放列表页内，调整设置后样式改变</li>
        <li>修复 文件夹页面中的图标不正确</li>
        <li>修复 两个文件夹选项卡</li>
        <li>修复 搜索中选项卡文本颜色的异常</li>
        <li>翻译 更新土耳其语(volkspolizist)，德语 (conk), 波兰语 (cooky), 葡萄牙语 (nemapps)</li>
        <li>开发 清理代码，更新依赖</li>
    </ol>
</div>

<h4><b>1.4.4</b> 2024.01.30</h4>
<div>
    <ol>
        <li>修复 从部分文件管理器中，无法打开播放位于外部(物理) SD 卡中的音频文件</li>
        <li>修复 从播放通知或蓝牙设备等中跳过最后一首歌曲时也会异常暂停，即便在队列重复模式下</li>
        <li>修复 在某些罕见情况下，对播放队列重新排序时崩溃</li>
        <li>修复 在播放队列为空的情况下，从外部播放时的异样</li>
        <li>新增 预加载图像，以避免在某些情况下滚动时卡顿</li>
        <li>改进 LRC 歌词检测与歌词显示</li>
        <li>改进 使用 LyricsGetterAPi v6</li>
        <li>翻译 更新波兰语(cookie)，巴西葡萄牙语 (EddieMattos)</li>
        <li>开发 更新 AGP 至 8.2.2，更新 kotlin 至 1.9.22，更新依赖</li>
    </ol>
</div>

<h4><b>1.4.3</b> 2024.01.07</h4>
<div>
    <ol>
        <li>修复 部分旧设备上无法在显示任何图像</li>
        <li>修复 打开操作对话框的一些瑕疵</li>
        <li>改进 图像加载不再导致快速滚动时的严重延迟感</li>
        <li>翻译 更新土耳其语(volkspolizist), 西班牙语(guwsvnd5t)</li>
        <li>开发 清理代码</li>
    </ol>
</div>

<h4><b>1.4.2</b> 2023.12.02</h4>
<div>
    <ol>
        <li>修复 使用单曲重复且队列仅有一首歌曲时在切歌时卡死(然后崩溃)</li>
        <li>修复 处在队列两端时切歌时误报错</li>
        <li>修复 使用队列重复时偶尔会出现不正确的上一首歌曲</li>
    </ol>
</div>

<h4><b>1.4.1</b> 2023.11.24</h4>
<div>
    <ol>
        <li>改进 歌曲详情中，若遇不支持的文件格式则避免显示错误通知</li>
        <li>改进 遇不支持的文件格式则使用后备方法读取歌曲标签</li>
        <li>改进 专辑和艺术家的图片加载机制</li>
        <li>修改 使用其他方法从 MediaStore 获取专辑封面 (在 Android Q 及更高版本上)</li>
        <li>翻译 更新 西班牙语 (guwsvnd5t)</li>
    </ol>
</div>

<h4><b>1.4.0</b> 2023.11.13</h4>
<div>
    <ol>
        <li>新增 可定制列表项样式</li>
        <li>修复 设备重启后出现的大量错误通知(仅屏蔽)</li>
        <li>修复 若音频焦点被剥夺(如其他媒体在播放)播放通知会被取消</li>
        <li>改进 深色模式在系统深色模式改变后立即更改而无需重进</li>
        <li>改进 在通知(Android T 及以上)和 Android Auto 中, 添加随机模式和重复模式按钮</li>
        <li>改进 在 Android Auto 中, 显示专辑封面 (仅基本支持)</li>
        <li>改进 MediaStore 扫描 (可能将修复某些设备中扫描媒体的问题)</li>
        <li>改进 各种细小用户界面改进</li>
        <li>修改 替换部分图标</li>
        <li>修改 在 播放列表详情 中, 显示歌曲顺序而非图片</li>
        <li>翻译 更新 芬兰语 (Latzze), 阿拉伯语 (Yrando), 巴西葡萄牙语 (EddieMattos), 日语 (aorinngoDo), 土耳其语 (evladifatihan)</li>
        <li>修改 禁止从 v0.3.4 之前的版本升级至当前版本, 警告从 v0.7.1 之前的版本升级至当前版本</li>
        <li>开发 使用 webp 和 svg 格式以减少大小</li>
        <li>开发 更新依赖, 清理代码</li>
    </ol>
</div>

<h4><b>1.3.2</b> 2023.10.20</h4>
<div>
    <ol>
        <li>修复 主播放器内, 暂停播放按钮有时会卡住与动画异常</li>
        <li>修复 主播放器内, 主色调无法正确更新若切歌过快</li>
        <li>修复 主播放器内, "即将播放"文本颜色问题</li>
        <li>修复 主播放器内, 有时控件和队列可能会消失不见或覆盖部分图片</li>
        <li>修复 修复播放控件和队列在启动时冻结</li>
    </ol>
</div>

<h4><b>1.3.1</b> 2023.10.04</h4>
<div>
    <ol>
        <li>修复 Android U 上弹出播放通知时崩溃</li>
        <li>修复 某些专辑的封面艺术不显示</li>
        <li>修复 大量 Android Auto 上的问题</li>
        <li>改进 在 Android Auto 中显示全部流派和全部播放列表</li>
        <li>改进 启动时检查播放队列中歌曲是否存在</li>
        <li>改进 艺术家和专辑加载</li>
        <li>开发 升级AGP至8.1.2, 更新依赖, 清理代码</li>
    </ol>
</div>

<h4><b>1.3.0</b> 2023.09.27</h4>
<div>
    <ol>
        <li>开发 升级 targetSdk 至 34</li>
        <li>修复 艺术家详细中的专辑页脚着色在更改后无法刷新</li>
        <li>改进 加载歌词时避免发送内部错误通知</li>
        <li>改进 添加‘关闭本地实时搜索’选项, 用于解决某些启用'内嵌输入'的输入法无法显示候选栏的问题, 尤其针对某些中日韩输入法</li>
        <li>开发 更新依赖, 清理代码</li>
        <li>翻译 更新巴西葡萄牙语(EddieMattos)</li>
    </ol>
</div>

<h4><b>1.2.0</b> 2023.09.23</h4>
<div>
    <ol>
        <li>新增 全新的针对专辑和艺人的 维基/简介 对话框 (数据来自 last.fm )</li>
        <li>新增 支持在线搜索专辑艺人歌曲等信息, 数据来自 last.fm 与 musicbrainz</li>
        <li>移除 自动从 last.fm 下载元信息</li>
        <li>改进 合并详细信息和标签编辑器</li>
        <li>改进 标签编辑器内, 添加在线搜索按钮</li>
        <li>改进 支持在标签编辑器内导入在线搜索结果</li>
        <li>改进 标签编辑器</li>
        <li>改进 自定义检查更新时间间隔</li>
        <li>改进 自定义最后添加播放列表截止时间间隔</li>
        <li>修改 播放通知可在暂停 5 秒后划去</li>
        <li>翻译 更新土耳其语(TolDYuThad)</li>
        <li>翻译 更新西班牙语 (Leoh)</li>
        <li>翻译 更新葡萄牙语 (drcor)</li>
        <li>开发 更新依赖</li>
        <li>开发 清理代码</li>
        <li>开发 使用 koin 做依赖注入框架 (可能影响性能)</li>
        <li>开发 更新 kotlin 至 1.9.10, 使用 SDK 34, 更新 Compose 至 1.5.1 等</li>
        <li>开发 更新 AGP 至 8.1.1, 更新 Gradle 至 8.3</li>
    </ol>
</div>

<h4><b>1.1.0</b> 2023.08.29</h4>
<div>
    <ol>
        <li>新增 分类搜索结果</li>
        <li>新增 在歌曲详情/标签编辑器中, 支持读写更多标签</li>
        <li>新增 在歌曲详情/标签编辑器中, 显示原始标签信息</li>
        <li>修改 在歌曲详情/标签编辑器中, 不显示其他标签</li>
        <li>改进 (Android Auto) 允许浏览所有分类</li>
        <li>改进 (Android Auto) 在播放队列中，点击项目时改变播放位置</li>
        <li>修复 调整窗口大小时崩溃</li>
        <li>修复 播放器卡片样式中状态栏不透明与遮挡问题</li>
        <li>修复 设备重启后崩溃</li>
        <li>修复 手动加载歌词时崩溃</li>
        <li>翻译 更新俄语(Роман Калинин (n0viceaf))</li>
        <li>翻译 更新巴西葡萄牙语(EddieMattos)</li>
        <li>翻译 更新芬兰语(Jiri Grönroos (spammemoreplease))</li>
        <li>翻译 更新日语(aorinngoDo)</li>
        <li>修改 禁止从v0.2.5之前的版本升级至当前版本</li>
        <li>修改 警告从v0.6.0之前的版本升级至当前版本</li>
        <li>开发 更新依赖, 清理代码</li>
    </ol>
</div>

<h4><b>1.0.2</b> 2023.08.24</h4>
<div>
    <ol>
        <li>修复 播放列表搜索有时无效</li>
        <li>修复 单击时显示“选择 0 个项目”</li>
        <li>修复 切换主播放器样式时崩溃 </li>
        <li>修复 艺术家详情中的横向专辑没有图像</li>
        <li>修复 艺术家详情中的横向专辑的描述重复</li>
        <li>翻译 更新俄语 (Evgeniy Khramov (thejenja))</li>
        <li>翻译 更新土耳其语 (TolDYuThad)</li>
    </ol>
</div>

<h4><b>1.0.1</b> 2023.08.13</h4>
<div>
    <ol>
        <li>修复 播放列表页与流派页在更改网格列数后布局不正常</li>
        <li>修复 无法通过部分蓝牙设备控制播放</li>
    </ol>
</div>

<h4><b>1.0.0</b> 2023.08.10</h4>
<div>
    🎉 此为 Phonograph Plus 二周年纪念版
    <ol>
        <li>新增 倍数播放支持</li>
        <li>新增 打断后自动恢复播放</li>
        <li>新增 为播放队列添加滚动条</li>
        <li>新增 基础支持 Android Auto 等</li>
        <li>新增 支持反选和区间选择</li>
        <li>新增 支持搜索播放列表和当前播放队列</li>
        <li>修复 改变正在播放界面样式后崩溃</li>
        <li>修复 布局在网格与列表间改变后不显示任何内容</li>
        <li>修复 从外部（如文件浏览器）播放被屏蔽的文件时崩溃</li>
        <li>修复 无法对所选进行随机播放</li>
        <li>修改 暂停时禁止取消媒体通知（以防被杀）</li>
        <li>改进 歌词对话框中的歌词滚动</li>
        <li>改进 歌词对话框中对同步歌词高亮当前歌词</li>
        <li>改进 当前播放队列中的长文本显示</li>
        <li>翻译 更新德语(by txp_uli)</li>
        <li>翻译 更新意大利语(by gdonisi)</li>
        <li>翻译 更新(巴西)葡萄牙语(by EddieMattos)</li>
        <li>翻译 更新日语(by aorinngoDo)</li>
        <li>开发 实现 MediaBrowserService</li>
        <li>开发 重构 adapter, 清理代码</li>
    </ol>
</div>

<h4><b>0.7.2.1</b> 2023.07.25</h4>
<div>
    <ol>
        <li>翻译 更新日语 (by aorinngoDo)</li>
        <li>改进 启动时性能</li>
    </ol>
</div>

<h4><b>0.7.2</b> 2023.07.22</h4>
<div>
    <ol>
        <li>翻译 更新(巴西)葡萄牙语 (by EddieMattos)</li>
        <li>翻译 更新芬兰语 (by Jiri Grönroos (spammemoreplease))</li>
        <li>改进 启动时性能</li>
        <li>新增 为新版状态栏歌词支持 LyricGetter API</li>
        <li>修改 默认使用 LyricGetter API (可在 设置-兼容性 中更改回旧版API)</li>
        <li>开发 改进版本迁移</li>
        <li>开发 支持从 MediaSession 回调修改循环模式和随机模式（对蓝牙设备等有用）</li>
        <li>开发 现在将 Git Commit 哈希存储在 Manifest metadata 中</li>
    </ol>
</div>

<h4><b>0.7.1</b> 2023.07.09</h4>
<div>
    <b>注意</b> 可能需要再次进行一次介绍页流程
    <ol>
        <li>新增 支持选择其他 Monet 色彩</li>
        <li>修改 Monet颜色不会覆盖原先配置</li>
        <li>修复 搜索结果中点击任意艺术家时崩溃</li>
        <li>改进 启动时性能</li>
        <li>翻译 更新日语 (by aorinngo), 意大利语(by gdonisi)</li>
        <li>开发 清理代码</li>
    </ol>
</div>

<h4><b>0.7.0</b> 2023.06.27</h4>
<div>
    <b>注意</b> 建议备份设置后再升级
    <ol>
        <li>新增 手动加载歌词</li>
        <li>新增 歌曲排序 `专辑艺术家` 和 `作曲家`</li>
        <li>新增 支持播放列表置顶</li>
        <li>新增 支持播放列表的排序（名称、路径、时间）</li>
        <li>新增 搜索结果支持多选</li>
        <li>新增 在播放列表内搜索</li>
        <li>新增 支持 Android T (13) 的系统级分应用语言设置</li>
        <li>新增 在抽屉主菜单中增加更多选项</li>
        <li>修复 新建的播放列表不会立即出现在列表中</li>
        <li>修复 播放器色调着色不正确或未更新</li>
        <li>修复 语言卡在英式拼写里面或外面 (针对英语用户)</li>
        <li>修复 无法记住扁平文件夹的排序方式</li>
        <li>修复 删除播放列表对话框的信息不正确</li>
        <li>翻译 更新日语 (by aorinngo)</li>
        <li>开发 设置界面使用 Jetpack Compose 重构</li>
        <li>改进 设置界面并进行微调</li>
        <li>改进 防止由于文件浏览器导致的崩溃</li>
        <li>改进 部分对话框（如升级对话框）的标题和按钮无法固定，而随内容一起滚动</li>
        <li>改进 更新检查</li>
        <li>改进 m3u播放列表管理</li>
        <li>修改 在首次开屏介绍页内，若不授予权限，则无法继续。</li>
        <li>开发 使用 Jetpack Datastore Preference</li>
        <li>开发 重构播放器界面，歌词加载等</li>
        <li>开发 改进状态分发</li>
        <li>开发 升级 JDK 到17</li>
        <li>开发 更新 Gradle 至 8.1</li>
        <li>开发 更新 AGP 至 8.0.2</li>
        <li>开发 清理代码</li>
    </ol>
</div>

<h4><b>0.6.3</b> 2023.04.30</h4>
<div>
    <ol>
        <li>移除 “锁屏上显示专辑封面”等功能</li>
        <li>改进 裁剪非方形封面（详情页除外）</li>
        <li>改进 若无存储权限则转跳至设置</li>
        <li>改进 关闭一些不必要的异常通知</li>
        <li>改进 支持压缩打包旧版备份文件</li>
        <li>翻译 更新德语(by conk)，希伯来语(by Yaron Shahrabani(YaronSh))，俄语(by Макар Разин(Atrafon))</li>
        <li>开发 开启R8的`fullmode`</li>
        <li>开发 改进复数字符串</li>
    </ol>
</div>

<h4><b>0.6.2.1</b> 2023.04.23</h4>
<div>
    <ol>
        <li>注意 "锁屏上显示专辑封面"功能即将移除(此功能理应由系统负责)</li>
        <li>修复 倒退到起始处后，通知进度条不刷新</li>
        <li>修改 对于Android R (11)及以上，一律忽略设置 "锁屏上显示专辑封面"，并修复媒体通知的图片的长宽比异常（功能冲突）</li>
        <li>改进 媒体通知的图像质量[仅限Android T]</li>
        <li>开发 对于Android R (11)及以上，使用 MediaSession Metadata 来设置通知图片</li>
        <li>开发 重构媒体通知的图片加载机制</li>
    </ol>
</div>


<h4><b>0.6.2</b> 2023.04.22</h4>
<div>
    <ol>
        <li>新增 [Android S 及以上] 支持读取系统 Material You 动态颜色</li>
        <li>新增 [Android S 及以上] 支持主题颜色跟随系统 Material You 动态颜色（“Monet”）[实验性支持，仅颜色支持，非完整的 Material You 主题]</li>
        <li>新增 更好的备份机制</li>
        <li>改进 所有备份使用压缩包</li>
        <li>改进 支持选择备份导入与导出的内容</li>
        <li>改进 备份的交互体验</li>
        <li>修复 无法清空生成的播放列表 (v0.6.0起)</li>
        <li>修复 某些对话框的颜色和样式</li>
        <li>修复 某些文本未大写 (by Porkepix)</li>
        <li>翻译 更新德语翻译 (by cvzi &amp; conk)，意大利语翻译 (by Jacopo Norcini Pala (iagomago))</li>
        <li>开发 更新 AGP 至 7.4.2, 清理代码</li>
    </ol>
</div>


<h4><b>0.6.1</b> 2023.03.17</h4>
<div>
    <ol>
        <li>新增 全新的首次启动介绍页</li>
        <li>修改 介绍页内请求权限、设置自动检测更新、恢复设置备份</li>
        <li>翻译 更新意大利语(by gdonisi）</li>
    </ol>
</div>

<h4><b>0.6.0.1</b> 2023.03.13</h4>
<div>
    <ol>
        <li>改进 支持mp4(m4a)格式</li>
        <li>修复 某个错误的备份文件名称</li>
        <li>开发 其他针对F-Droid的小修改</li>
    </ol>
</div>

<h4><b>0.6.0</b> 2023.03.08</h4>
<div>
    <ol>
        <li>新增 平铺式文件夹页面</li>
        <li>新增 全新的音乐标签编辑器（包括单曲编辑和批量编辑）</li>
        <li>新增 备份路径过滤器、播放队列、收藏夹歌曲，支持跨设备迁移（只要两机的歌曲位置不动）。</li>
        <li>移除 旧的音乐标签编辑器</li>
        <li>改进 对多选和艺术家曲目进行批量编辑音乐标签</li>
        <li>改进 标签页的顺序</li>
        <li>改进 播放列表保存和删除</li>
        <li>修改 导出设置json格式（警告：与先前版本不兼容）</li>
        <li>修改 清除所有设置后强制重启应用</li>
        <li>修改 禁止从旧版本升级（v0.2.4-RC1以前的版本）</li>
        <li>修复 歌曲图像来源配置中的交互异常</li>
        <li>修复 清除所有设置时的崩溃</li>
        <li>修复 导入设置备份后崩溃</li>
        <li>翻译 更新意大利语(by gdonisi)</li>
        <li>开发 使用独立文件中存储播放器状态</li>
        <li>开发 清理代码，重构项目结构</li>
        <li>开发 更新AGP至7.4.1， kotlin至1.8.10， 更新其他依赖</li>
    </ol>
</div>

<h4><b>0.5.4.1</b> 2023.1.30</h4>
<div>
    <ol>
        <li>修复 报错 NoSuchMethodException: ba.r</li>
    </ol>
</div>

<h4><b>0.5.4</b> 2023.1.26</h4>
<div>
    <ol>
        <li>改进 使用 Kaned1as 维护的 jaudiotagger 以支持 opus 格式音乐标签读取</li>
        <li>修复 从后台返回主播放器时随机崩溃</li>
        <li>修复 艺术家详情页顶部消失 (自 v0.5.3)</li>
        <li>开发 清理重构代码</li>
    </ol>
</div>

<h4><b>0.5.3</b> 2023.1.19</h4>
<div>
    <ol>
        <li>修复 排序方式“时长”无效</li>
        <li>修复 无法真正关闭自动检查更新(v0.4.0起)</li>
        <li>开发 清理重构代码</li>
    </ol>
</div>

<h4><b>0.5.2</b> 2023.1.13</h4>
<div>
    <ol>
        <li>翻译 更新日语(by aorinngo)</li>
        <li>新增 支持管理歌曲图片来源</li>
        <li>修复 v0.5.1后歌词不加载除非授予存储写入权限</li>
        <li>修复 在播放队列中, 移动相同歌曲时崩溃</li>
        <li>开发 启用 Java 11 支持, 清理代码</li>
    </ol>
</div>

<h4><b>0.5.1</b> 2022.12.31</h4>
<div>
    <ol>
        <li>翻译 更新意大利语(by gdonisi &amp; Andrea Enzo Lattmann), 德语(by worldtest), 波兰语(by Robert Biś)</li>
        <li>改进 权限授权</li>
        <li>改进 尝试避免播放器因动画崩溃</li>
    </ol>
</div>

<h4><b>0.5.0</b> 2022.11.27</h4>
<div>
    <ol>
        <li>修复 在大屏设备上，横屏时无法调整列表列数，且锁定在6列</li>
        <li>修复 浅色主色调下搜索页面上文本和图标的对比度低</li>
        <li>修复 某些颜色异常</li>
        <li>新增 播放列表快照: 追踪当前播放列表, 在列表被替换时记录并存储(重启应用后失效), 以供恢复, 仅存储最近的变化, 位于播放器菜单(播放列表历史)</li>
        <li>新增 允许自定义位于列表中的歌曲或文件的点击行为: 共 8 种模式和 2 种额外, 可自定义点击列表项目时的操作</li>
        <li>移除 选项“记住随机播放” (意义模糊，与自定义点击行为和某些特意播放冲突)</li>
        <li>删除 选项“保护播放列表不被肆意更改” (添加了播放列表快照与自定义点击行为后已无用)</li>
        <li>新增 从外部播放时显示确认对话框 (如, 从文件管理器打开): 选项类似于自定义点击行为</li>
        <li>修复 从桌面捷径播放失效</li>
        <li>优化 歌词搜索加载速度</li>
        <li>翻译 更新俄语翻译(by ElinaAndreeva)</li>
        <li>开发 重构播放队列管理器, 清理代码, 更新依赖, 使用VersionCatalog</li>
    </ol>
</div>

<h4><b>0.4.1</b> 2022.10.28</h4>
<div>
    <ol>
        <li>修复 打开歌曲详情时卡死</li>
        <li>修复 搜索页面的文字图标在浅色主色调下对比度问题(部分修复)</li>
        <li>新增 歌词功能总开关</li>
        <li>改进 崩溃界面，区分崩溃与内部错误</li>
        <li>改进 优化菜单</li>
        <li>开发 清理代码</li>
    </ol>
</div>

<h4><b>0.4.0</b> 2022.10.23</h4>
<div>
    🎉 Phonograph Plus 更名一周年纪念版<br/>
    一年前的今天，正式更名为Phonograph Plus，并发布了第一个版本
    <a href="https://github.com/chr56/Phonograph_Plus/releases/tag/v0.0.1)">v.0.0.1</a><br>
    <ol>
        <li>翻译 清理各语言翻译</li>
        <li>翻译 更新俄语（Photon Gilbert），土耳其语（Erdem Özdemir）</li>
        <li>修复 导入数据库时偶尔出错</li>
        <li>移除 黑名单</li>
        <li>新增 “路径过滤器“, 支持&quot;排除模式&quot;(黑名单)和&quot;仅包含模式&quot;(白名单), 两者暂时无法同时使用</li>
        <li>新增 全新的歌曲详情页面</li>
        <li>新增 全新的更详细的更新对话框等</li>
        <li>改进 菜单(几乎所有列表皆提供&quot;播放&quot;,&quot;随机播放&quot;,&quot;下一个播放&quot;,&quot;加入列表&quot;等)</li>
        <li>开发 重构媒体读取</li>
        <li>开发 引入 Jetpack Compose</li>
        <li>其他 APK体积膨胀, 不再”小而美“</li>
    </ol>
</div>


<h4><b>0.3.5.2 LTS</b> 2022.10.11</h4>
<div>
    <ol>
        <li>修复 因图片缓存配置错误而在主播放器出现的低像素图片</li>
        <li>修复 扫描媒体对话框因加载结束前提前退出导致崩溃</li>
    </ol>
</div>

<h4><b>0.3.5.1 LTS</b> 2022.10.8</h4>
<div>
    <ol>
        <li>修复 删除对话框不消失删除结果</li>
        <li>修复 使用旧式方法浏览文件时无法解析歌曲</li>
        <li>修复 歌曲内嵌图片过大时引起崩溃</li>
        <li>修复 调整应用窗口大小时崩溃</li>
    </ol>
</div>

<h4><b>0.3.5 LTS</b> 2022.10.6</h4>
<div>
    <ol>
        <li>翻译 更新日语(aorinngo), 西班牙语(Armando de Nazareth)</li>
        <li>修复 删除对话框无法滚动</li>
    </ol>
</div>

<h4><b>0.3.4</b> 2022.10.3</h4>
<div>
    <ol>
        <li>新增 删除歌曲时一并删除同名歌词文件(需'管理全部文件'权限)</li>
        <li>修复 选择文件夹进行播放时无法递归选择其下所有子文件夹</li>
        <li>修复 播放器界面崩溃,如调整窗口大小时(仅部分修复)</li>
        <li>改进 图片加载时限制大小以防止过大图片导致崩溃</li>
        <li>改进 关闭遇到 <code>opus</code> 格式时弹出的错误通知(目前暂时无法读取 <code>opus</code> 格式的标签)</li>
        <li>开发 补上部分库缺失的 License</li>
        <li>开发 更新 Gradle 至 7.5.1, 更新 AGP 至 7.3.0, 更新依赖</li>
    </ol>
</div>

<h4><b>0.3.3</b> 2022.9.18</h4>
<div>
    <ol>
        <li>修复 打开应用时播放队列被随机刷新</li>
        <li>改进 将交换队列操作(随机播放、播放播放列表/专辑/艺术家)移动到后台，以修复更改队列时卡死(如果歌曲过多)</li>
        <li>改进 加载封面图时指定图片大小，尽量避免图片过大导致应用崩溃</li>
    </ol>
</div>

<h4><b>0.3.2</b> 2022.9.13</h4>
<div>
    <ol>
        <li>翻译 更新 俄语(Photon_Gilber), 法语(Exylos)</li>
        <li>开发 升级 targetSdk 至 33 (Android 13), 适配 Android 13 (实验性)</li>
        <li>开发 移除 <code>Glide</code> , 使用 <code>Coil</code> 加载图片</li>
        <li>开发 移除 <code>Gson</code> , 使用 <code>kotlin.serialization</code> 处理 Json</li>
        <li>修复 浅色背景下图标颜色仍为白色</li>
        <li>新增 在全部歌曲页面顶栏添加全部播放按钮</li>
        <li>改进 添加请求“管理全部文件”权限的快捷方式</li>
        <li>改进 扫描媒体与添加黑名单对话框使用新版UI</li>
        <li>改进 重写部分字符串, 清理无用字符串</li>
        <li>改进 改进更新日志对话框</li>
        <li>改进 检查更新流程(防止更新提示重复弹出)</li>
        <li>移除 报告错误界面, 使用对话框</li>
        <li>移除 登录 Github 提交报告功能(对大多数人无用)</li>
        <li>开发 清理更新依赖, 更新 AGP 至 7.2.2, 更新 kotlin 至 1.7.10, 增强混淆</li>
        <li>发布 添加 fastlane metadata</li>
    </ol>
</div>

<h4><b>0.3.1</b> 2022.8.18</h4>
<div>
    <ol>
        <li>翻译 更新意大利语(Andrea Enzo Lattmann (Gh0stz0x)), 法语(Exylos),俄语(Photon_Gilbert)</li>
        <li>翻译 清理英式英语,加拿大英语翻译(仅保留拼写差异项)</li>
        <li>翻译 移除 瑞典语(Swedish) 与 新挪威语(Norwegian Nynorsk) 翻译 (翻译缺失过多)</li>
        <li>新增 初步支持应用内切换语言(暂不完美)</li>
        <li>修复 旋转屏幕时崩溃</li>
        <li>修复 正在播放列表被修改后, 当前曲目播放完后, 继续播放的音频却仍然为先前播放列表的下一曲, 但显示为新播放列表的下一曲</li>
        <li>修复 &quot;保护播放列表不被肆意更改&quot;选项关闭后, 无法正确播放新播放列表(包括起始位置与曲目顺序)</li>
        <li>修复 主播放器界面, &quot;即将播放&quot; 的后续曲目总计时不正确</li>
        <li>改进 微调 崩溃界面 外观</li>
        <li>改进 保存崩溃报告至应用外部(/Android/data)缓存文件夹内</li>
        <li>开发 清理代码</li>
    </ol>
</div>

<h4><b>0.3.0</b> 2022.8.10</h4>
<div>
    🎉 此为 Phonograph Plus 一周年纪念版
</div>
<div>
    <ol>
        <li>修复 在启动器小部件存在时，小部件无法刷新且无法启动应用</li>
        <li>开发 优化混淆配置</li>
    </ol>
</div>

<h4><b>0.3.0-RC01</b> 2022.8.8</h4>
<div>
    <ol>
        <li>新增 全新的 文件夹 页面:<br/>
            ├ 从 MediaStore 读取歌曲文件(可大幅改善在 Android10 以上的性能), 亦保留旧方式备用;<br/>
            ├ 尝试完全支持浏览外部可移除存储设备(如 SD 卡等);<br/>
            ├ 使用下拉刷新;<br/>
            └ 允许按照文件名,文件大小,添加日期,修改日期排序;
        </li>
        <li>移除 旧的 文件夹 页面, 并清理抽屉</li>
        <li>改进 重构 播放列表详情 , 简化编辑</li>
        <li>改进 &quot;最常听的歌曲&quot;计算方法</li>
        <li>新增 支持刷新并重新计算&quot;最常听的歌曲&quot;播放列表</li>
        <li>新增 专辑与艺术家详情中的 last.fm 链接 （注: 目前仍未失效, 但无维护计划）</li>
        <li>新增 设置项&quot;保护播放列表不被肆意更改&quot;, 开启后,除非用户明确要求,应用将尽力保证当前播放队列不被清空或覆盖(仅加入队列)</li>
        <li>新增 添加菜单项, 可在 正在播放界面 中修改当前 正在播放界面 样式</li>
        <li>修复 第一次打开睡眠定时器崩溃</li>
        <li>修复 多选时菜单图标颜色错误</li>
        <li>开发 更新依赖（导致滚动条外观有所不同）</li>
        <li>开发 重构大量历史代码, 包括<br/>
            ├ 后台音乐服务(可能存在大量潜在的与音乐播放相关错误)<br/>
            ├ 专辑详情<br/>
            ├ 播放列表详情<br/>
            ├ 正在播放界面/主播放器界面 (歌曲封面图片)<br/>
            ├ 文件扫描<br/>
            ├ 排序<br/>
            ├ 列表控制菜单<br/>
            ├ 主题控制<br/>
            ├ 多选模式<br/>
            └ 播放器托盘<br/></li>
        <li>开发 整治 Gradle 构建脚本与项目结构</li>
    </ol>
    <p>已知问题:</p>
    <ol>
        <li>专辑详情转场动画异常</li>
        <li>艺术家详情多选冲突</li>
        <li>文件视图路径现阶段不显示历史记录</li>
        <li>
            <del>偶见主播放器歌曲封面错误(部分场景已于beta01中修复)</del>
        </li>
    </ol>
</div>

<h4><b>0.2.6</b> 2022.6.6</h4>
<div>
    <ol>
        <li>改进 播放列表的保存，并尝试修复无法保存位于实体存储卡的播放列表</li>
        <li>新增 支持修改播放列表的操作方式(位于设置-&gt;兼容性-&gt;操作播放列表文件行为)，可强制使用SAF(或旧方法)操作播放列表</li>
        <li>新增 “最近添加”播放列表时间间隔现在支持“过去14天”与“过去一个月”</li>
        <li>新增 支持在“最近添加”播放列表详情内，快速修改“最近添加”播放列表时间间隔(位于右上角菜单)</li>
        <li>修复 Android 9 以下版本用户在新建或修改播放列表时因Toast崩溃</li>
        <li>开发 更新 Kotlin 至 1.6.21, 更新 AGP 至 7.2.1</li>
        <li>开发 升级 targetSdk 至 32(Android12.1)</li>
    </ol>
</div>

<h4><b>0.2.5</b> 2022.6.3</h4>
<div>
    <ol>
        <li>新增 支持备份与恢复设置(实验性)</li>
        <li>修复 调整窗口大小时崩溃</li>
        <li>改进 避免正在播放界面崩溃以及报告错误通知</li>
        <li>开发 使用 productFlavors</li>
        <li>开发 对 Debug 构建版本使用白底矢量轮廓图标</li>
    </ol>
</div>

<h4><b>0.2.4-RC1</b> 2022.5.15</h4>
<div>
    <h5>注意</h5>
    <ol>
        <li>此次更新涉及存储播放队列数据库的改动,若发现当前播放队列异常,请清除数据</li>
        <li>此次更新涉及排序方式设置的改动,需要重新设置排序方式</li>
    </ol>
    <ol>
        <li>修复 打开或关闭系统深色模式时播放器崩溃</li>
        <li>修复 自 v0.2.0 起专辑详情与艺术家详情元素过渡转场动画丢失</li>
        <li>修复 专辑与艺术家页面下,歌曲与专辑或艺术家(在同一专辑但艺术家不同的情况下)配对(解析)错误</li>
        <li>优化 专辑与艺术家解析机制(加载时间可能会延长)</li>
        <li>新增 专辑与艺术家以及流派支持按歌曲(或专辑)数量排序</li>
        <li>修复 歌曲在使用"添加日期"的排序依据下,滚动条不提示日期</li>
        <li>改进 使用通知提示大多数耗时操作而不是各种对话框</li>
        <li>改进 使用通知提示更多内部错误</li>
        <li>开发 增强混淆</li>
        <li>开发 清理代码, 替换所有 AsyncTask</li>
        <li>开发 更新 AGP 至 7.2.0，更新 Kotlin 至 1.6.20</li>
    </ol>
</div>

<h4><b>0.2.3-RC2</b> 2022.4.21</h4>
<div>
    <ol>
        <li>修复 偶尔因<a href="https://github.com/Block-Network/StatusBarLyric">状态栏歌词</a>引起的崩溃（如在清除音乐通知时）</li>
        <li>修复 多选某些专辑时崩溃</li>
    </ol>
</div>

<h4><b>0.2.3-RC1</b> 2022.4.20</h4>
<div>
    <ol>
        <li>修复 设置项“媒体库类别”进行排序时引起崩溃</li>
        <li>修复 设置项“媒体库类别”无法正确保存</li>
        <li>修复 音乐通知在音乐暂停后无法划去&sol;取消</li>
        <li>修复 (尝试修复)音乐通知刷新不正常, 与实际播放歌曲不同步(存疑)</li>
        <li>修复 LRC歌词总是显示第一行, 即使歌曲尚未播放至此处</li>
        <li>优化 <a href="https://github.com/Block-Network/StatusBarLyric">墨·状态栏歌词</a>适配</li>
        <li>修复 <a href="https://github.com/Block-Network/StatusBarLyric">状态栏歌词</a>在App退出后消失以及App置于后台过久后消失</li>
        <li>优化 LRC歌词定位基于二分查找法</li>
        <li>新增 解析LRC歌词中转义字符&Backslash;n与&Backslash;r</li>
        <li>变更 搜索结果中显示歌曲封面图片</li>
        <li>变更 扫描文件使用通知告知而不是对话框</li>
        <li>优化 文件扫描</li>
        <li>开发 清理优化代码</li>
        <li>开发 替换所有AsyncTaskLoader</li>
    </ol>
</div>

<h4><b>0.2.2</b> 2022.4.14</h4>
<div>
    <ol>
        <li>修复 横屏时崩溃</li>
        <li>变更 关闭一个无意义的错误通知</li>
    </ol>
</div>


<h4><b>0.2.1</b> 2022.4.13</h4>
<div>
    <ol>
        <li>修复 加载含有特殊字符的歌曲歌词时崩溃</li>
        <li>变更 优化歌词加载</li>
        <li>变更 支持显示所有匹配到的歌词</li>
    </ol>
</div>

<h4><b>0.2.0-RC2</b> 2022.4.8</h4>
<div>
    <ul>
        <li>修复 因混淆配置错误而导致播放某些类型文件时崩溃</li>
    </ul>
</div>

<h4><b>0.2.0-RC1</b> 2022.4.7</h4>
<div>
    <ol>
        <li>开发 重构大量歌词相关代码</li>
        <li>开发 清理主播放器UI代码, 改进性能</li>
        <li>变更 重写歌词对话框</li>
        <li>变更 增大歌词对话框大小</li>
        <li>变更 更新繁中翻译(OpenCC)</li>
        <li>新增 歌词对话框支持选择歌词源(内嵌或外部)</li>
        <li>新增 歌词对话框支持歌词随歌曲播放滚动(实验性)</li>
        <li>修复 通知栏通知偶现的刷新不及时或信息错误(存疑)</li>
        <li>新增 错误报告通知,仅记录并通知非紧要的内部错误以便调试</li>
        <li>开发 尝试记录卡片式主播放器偶现的卡片错位现象</li>
        <li>开发 关闭Glide部分无关紧要的日志输出</li>
        <li>开发 更新Gradle至7.4，更新AGP至7.1.2</li>
        <li>开发 更新kotlin至1.6.10并在build.gradle中使用kotlin DSL</li>
        <li>开发 清理代码</li>
    </ol>
</div>

<h4><b>0.1.2</b> 2022.3.25</h4>
<div>
    <ol>
        <li>新增 使用内部数据库存储最喜爱的歌曲（也可手动切换回原先以m3u播放列表文件形式存储在外置存储的方式）</li>
        <li>新增 支持内部数据库导出与导入（实验性，位于设置页面右上角菜单）</li>
        <li>新增 支持清除所有设置</li>
        <li>新增 崩溃页面内可新增打开设置页面</li>
        <li>改进 播放列表批量删除</li>
        <li>翻译 更新土耳其翻译（由@TolDYuThad提供）</li>
        <li>开发 清理代码&amp;资源文件</li>
    </ol>
</div>

<h4><b>0.1.1</b> 2022.3.18</h4>
<div>
    <ol>
        <li>修复 收藏(最爱)的播放列表导致的崩溃</li>
        <li>修复 更新日志夜间模式失效</li>
        <li>修复 快捷添加黑名单后卡死</li>
        <li>新增 直接重置媒体库类别的设置条目</li>
        <li>新增 分离简体中文和英语的更新日志与更新提示弹窗</li>
        <li>改进 作者信息与翻译入口</li>
    </ol>
</div>

<h4><b>0.1.0</b> 2022.3.15</h4>
<div>

    <b>注意:</b>
    <ol>
        <li>此版本需要重新设置主题配色</li>
        <li>对于Android 10 (Q)以上版本用户, 播放列表的编辑(重新排序,移除歌曲)仍存在较大问题</li>
    </ol>

    <b>变化:</b>
    <ol>
        <li>修复 睡眠定时器在Android12上的崩溃</li>
        <li>改进 大幅度调整"媒体库"的UI(但部分还未完成)</li>
        <li>新增 添加清理旧版本历史残留文件配置功能(但是仅从此版本开始记录历史包袱)</li>

        <li>修复 播放列表更改(新建/改名/删除)后,未能及时刷新（仅限App内操作）</li>
        <li>改进 再删除播放列表失败后, 可尝试使用SAF(Storage Access Framework, 存储访问框架)授权目录后再次尝试删除（目前交互体验不佳, 且可能误删文件!!!）</li>
        <li>改进 对于Android 10 (Q)以上版本用户, 使用SAF创建播放列表(包括新建空列表与保存播放器当前播放队列)</li>
        <li>改进 使用SAF复制(保存)播放列表(单个播放列表可自定义名称, 多个播放列表统一添加时间后缀并保存在所选同一目录下)</li>
        <li>改进 对于Android 10 (Q)以上版本用户, 使用SAF授权后再追加歌曲至已有播放列表（目前交互体验不佳）</li>

        <li>开发 调整代码结构,优化代码,清理依赖(需要重新设置主题配色)</li>
        <li>开发 移除ButterKnife</li>
        <li>开发 使用AGP 7.0.4 (以及Gradle7.1.1) 构建</li>
        <li>开发 升级Glide(3.8.0 -&gt; 4.12.0), 可能引起若干封面加载问题</li>
        <li>开发 极限混淆,实现Apk小而美</li>
    </ol>
</div>

<h4><b>0.0.8</b> 2022.1.2</h4>
<div>
    <ol>
        <li>开发 使用SDK31(Android12)开发</li>
        <li>变更 移动主界面右上角菜单中的“随机播放所有歌曲”至抽屉</li>
        <li>变更 移动播放列表页上的“新建播放列表”至右下角悬浮按钮</li>
        <li>新增 支持更多(潜在的)排序方式</li>
        <li>新增 将右上角排序方式与网格尺寸和合二为一, 并改进交互</li>
        <li>
            新增 快速添加黑名, 在歌曲(或文件)弹出菜单中,新增“添加至黑名单”选项
        </li>
        <li>修复 浅色主色调下，主界面标题菜单图标不变黑</li>
        <li>
            修复 设置中黑名单对话框添加新路径后未能刷新, 以及一系列稀奇古怪的问题
        </li>
        <li>
            改进 更新提示对话框, 允许忽略某个版本更新, 改进下载引导, 以及一系列可能的稀奇古怪的问题
        </li>
        <li>开发 清理代码（可能
            <del>又弄坏了什么</del>
            ）
        </li>
    </ol>
</div>

<h4><b>0.0.7</b> 2021.12.26</h4>
<div>
    <ol>
        <li>修复 (无时间轴)纯文本歌词导致的崩溃</li>
        <li>修复 正在播放曲目切换后，状态栏歌词偶尔未切换</li>
        <li>
            变更 启动时检查更新使用通知提示(
            <del>，并顺便微调了检查更新方式与对话框样式</del>
            )，防止凭空弹出对话框引起崩溃
        </li>
        <li>
            变更 尝试避免潜在的崩溃(似乎仅会出现在 Android 12 上)，准备适配向SDK31(Android12)迁移
        </li>
        <li>
            <del>开发 尝试使用 Github Action 自动上传Preview版本</del>
        </li>
    </ol>
</div>

<h4><b>0.0.6</b> 2021.12.09</h4>
<div>
    <ol>
        <li>
            适配 支持新版<a href="https://github.com/577fkj/MIUIStatusBarLyric">MIUI状态栏歌词</a>API变化 <br/>(请Hook本应用,
            并在"MIUI状态栏歌词"-&gt;"软件列表"中开启,以生效)
        </li>
    </ol>
</div>

<h4><b>0.0.5</b> 2021.12.04</h4>
<div>
    <ol>
        <li>修复 无法显示内嵌歌词</li>
        <li>
            新增 支持新版<a href="https://github.com/577fkj/MIUIStatusBarLyric">MIUI状态栏歌词</a>API(请Hook本应用生效)
        </li>
        <li>改进 微调歌词对话框</li>
        <li>改进 允许关闭歌词对话框时间轴信息显示(设置->显示歌词时间轴)</li>
        <li>改进 长按歌词对话框歌词转跳时间轴后, 自动关闭歌词对话框</li>
    </ol>
</div>

<div style="
        margin: 2ex;
        margin-bottom: 30ex;
      ">
    <h4><b>0.0.4</b> 2021.12.03</h4>
    <div>
        <ol>
            <li>新增 允许关闭歌词广播</li>
            <li>修复 关闭歌词显示后，无法发送歌词广播</li>
            <li>
                修复 歌词文件匹配错误<br/>（现在歌词读取顺序为: <b>内嵌</b>歌词 -&gt; <b>同文件名</b>的外载歌词 -&gt; 有
                <b>前后缀</b>的同名的外载歌词）
            </li>
            <li>优化 代码</li>
            <li>变更 版本号不再带有 Git Commit Hash</li>
            <li>开发 加强代码混淆力度</li>
            <li>
                <del>开发 更换Github Actions 的CI构建签名</del>
            </li>
        </ol>
        <div>
            注: 此版暂未适配新版<a href="https://github.com/577fkj/MIUIStatusBarLyric">MIUI状态栏歌词</a>API
        </div>
    </div>

    <h4><b>0.0.3</b> 2021.11.28</h4>
    <div>
        <ol>
            <li>修复 状态栏歌词适配</li>
            <li>变更 更好的检查更新行为</li>
            <li>新增 允许关闭检查更新弹窗</li>
            <li>修复 浅色主色调下标题图标仍然为白色(仅部分修复)</li>
        </ol>
        <div>此外, 从该版本起,逐渐启用混淆（否则apk体积要破七了）</div>
    </div>

    <h4><b>0.0.2</b> 2021.11.15</h4>
    <div>
        <ol>
            <li>改进 歌曲与播放列表读取</li>
            <li>
                变更 播放列表现在支持黑名单, 无名播放列表("幽灵"播放列表)不再显示
            </li>
            <li>
                变更 现在通过 SAF (Storage Access Framework, 存储访问框架) 另保存播放列表 (若同时保存多个, 则仍保存至/Download)
            </li>
            <li>改进 网络状态检测</li>
            <li>新增 启动时检查更新</li>
            <li>新增 检查更新对话框</li>
            <li>
                新增 适配"<a href="https://github.com/xiaowine/miui.statusbar.lyric">MIUI状态栏歌词</a>"Xposed模块
            </li>
            <li>变更 播放列表页不再支持直接编辑</li>
            <li>新增 专门的播放列表编辑页(仍未完工)</li>
            <li>
                开发 重构 歌曲弹出菜单, 播放列表, 设置 等相关代码 (若崩溃请及时反馈)
            </li>
        </ol>
    </div>

    <h4><b>0.0.1</b> (2021.10.21)</h4>
    <p class="fine-print">初始版本</p>
    <div>
        <ol>
            <li>★更换包名为 player.phonograph.plus★</li>
            <li>版本号重新计数</li>
            <li>修复 主题"自动"下进入多选模式, 选择高亮失效</li>
            <li>移除 残留的 Google Play 内购权限</li>
            <li>适配 Android 11 分区存储(Scoped Storage)的删除操作</li>
            <li>允许 卸载时保留数据</li>
            <li>优化 崩溃报告页面, 现在提供更多设备信息并允许在该页面重置设置</li>
            <li>优化 "关于"页面</li>
            <li>优化 其他细节</li>
            <li>开发 又重构了部分代码...</li>
        </ol>
    </div>
    <p>以下为之前紧急更新的更新日志</p>
    <div style="padding: 0.5ex">
        <ul>
            <li>修复 歌曲列表使用网格试图(无论几列)闪退</li>
            <li>修复 "详情"对话框卡死(若歌曲内嵌大图)</li>
            <li>修复 弹出菜单主题失效</li>
            <li>修复 第一次安装不弹出日志</li>
            <li>新增 崩溃报告页面</li>
        </ul>
    </div>
    <br/>
</div>

<div>以下是旧更新日志</div>
<div class="fine-print" style="
        margin: 2ex;
        margin-bottom: 30px;
      ">
    <h4>2021.10.3 <i>184</i></h4>
    <div>
        <ol>
            <li>
                变更 另存播放列表时，保存至Download目录（Android11上原先保存到Playlists可能失败）
            </li>
            <li>添加 按添加日期排序歌曲选项</li>
            <li>优化 中文翻译</li>
            <li>
                变更 增大“最近播放”和“最喜爱的歌曲(实际是“最常播放”的歌曲)”条目数量(100→150)
            </li>
            <li>变更 适当折叠歌曲弹出菜单</li>
            <li>修复 因幽灵播放列表导致崩溃(但是幽灵文件的Bug还在)</li>
            <li>
                其他 重构部分代码
                <del class="fine-print">(可能动了一些"不该动"的地方，然后引起某些崩溃或行为异常)
                </del>
            </li>
        </ol>
    </div>

    <h4>2021.9.21 <i>183</i></h4>
    <div>
        <ol>
            <li>
                新增 在详情对话框内显示所含Tag信息(标题, 专辑, 艺术家, 年代, 流派等)
            </li>
            <li>
                新增 歌词对话框内显示歌词时间轴信息, 并可以通过长按进行快速转跳
            </li>
        </ol>
    </div>

    <h4>2021.9.11 <i>182</i></h4>
    <div>
        <ol>
            <li>修复 对话框夜间模式无效</li>
        </ol>
        <p>已知Bug</p>
        <ol style="padding-left: 5px">
            <li>添加新黑名单后未能及时刷新黑名单列表显示</li>
            <li>扫描媒体中选择文件夹对话框卡慢</li>
            <li>睡眠定时器"播完最后一首"
                <del>随缘</del>
                生效
            </li>
            <li>
                <del>安装包体积膨胀至6MB以上</del>
            </li>
            <li>(右上角)菜单主题失效</li>
            <li>"设为铃声"失效</li>
        </ol>
        <p class="fine-print" style="margin-top: 0dp">可能仍有其他轻微Bug</p>
    </div>
    <br/>

    <h4>2021.08.06 <i>181</i></h4>
    <div>
        <ol>
            <li>新增 允许标签固定并平铺</li>
            <li>优化 播放列表页面 Toolbar “播放”将始终显示</li>
            <li>优化 主题切换按钮</li>
        </ol>
    </div>
    <br/>

    <h4>2021.08.04 <i>180</i></h4>
    <div>
        <ol>
            <li>完整的Pro版，剔除所有内购相关代码</li>
            <li>主题可随系统深色模式切换</li>
            <li>抽屉新增主题切换开关（将就用吧）</li>
        </ol>
    </div>
    <br/>
    <br/>
    <a href="https://github.com/chr56/Phonograph_Plus">开源地址(GitHub)</a>
</div>
